:global(.swiper-wrapper) {
  display: flex !important;
  overflow: hidden !important;
  will-change: transform !important;
}
:global(.swiper-slide) {
  width: max(320px, 17vw) !important;
  margin-right: 80px !important;
  transition: opacity 0.5s ease;
}

:global(.swiper-button-disabled) {
  opacity: 0;
}
@media (max-width: 768px) {
  :global(.swiper-slide) {
    width: min(240px, 55vw) !important;
    margin-right: 25px !important;
  }
  :global(.swiper-slide-next) {
    opacity: 40%;
    // transition: opacity 0.5s ease;
  }
}
